[defaults]
collections_path = .ansible/collections
display_failed_stderr = yes
fact_caching = jsonfile
fact_caching_connection = .ansible/fact_cache
fact_caching_timeout = 86400
gathering = smart
interpreter_python = auto_silent
inventory = ./hosts
nocows = True
result_format = yaml
roles_path = .ansible/roles
