---
- name: Remove system packages replaced by flatpak
  block:
    - name: Remove snap and applications, clean cache, and autoremove
      apt:
        name: "{{ desktop_flatpak_replacements.keys() | list + ['gnome-software-plugin-snap', 'snapd'] }}"
        autoremove: true
        clean: true
        purge: true
        state: absent

    - name: Hold packages replaced by flatpak
      dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop: "{{ desktop_flatpak_replacements.keys() | list + ['gnome-software-plugin-snap', 'snapd'] }}"
      ignore_errors: true # Ignore errors if package doesn't exist
  become: true

- name: Remove snap directories
  block:
    - name: Find user snap directories
      find:
        paths: /home
        patterns: snap
        depth: 2
        file_type: directory
        recurse: true
      register: snap_directories_result

    - name: Remove snap directories
      file:
        path: "{{ item.path | default(item) }}"
        state: absent
      loop: "{{ snap_directories_result.files + ['/root/snap', '/var/cache/snapd'] }}"
  become: true

- name: Configure flatpak
  block:
    - name: Install flatpak packages
      apt:
        name:
          - flatpak
          - flatpak-builder
        state: latest
        install_recommends: false
      become: true

    - name: Add flathub repository
      community.general.flatpak_remote:
        name: flathub
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
        method: user

    - name: Install flatpak applications
      community.general.flatpak:
        name: "{{ desktop_flatpak_replacements.values() | list + desktop_flatpak_extras + ['org.gtk.Gtk3theme.Adwaita-dark'] }}"
        method: user

    - name: Configure cursor theme for flatpak applications
      command: flatpak override --user --env=XCURSOR_THEME=Adwaita {{ item }}
      loop: "{{ desktop_flatpak_replacements.values() | list + desktop_flatpak_extras }}"

    - name: Configure FileZilla IPC
      command: flatpak override --user --share=ipc org.filezillaproject.Filezilla
