---
- name: Install LACT
  block:
    - name: Get latest LACT version
      uri:
        url: https://api.github.com/repos/ilya-zlobintsev/LACT/releases/latest
        return_content: true
      register: lact_version

    - name: Set LACT download URL fact
      set_fact:
        lact_download_url: "{{ (lact_version.json.assets | selectattr('name', 'match', 'lact-.*.amd64.ubuntu-' + (ansible_distribution_version | replace('.', '')) + '.deb') | first).browser_download_url }}"

    - name: Install LACT package
      apt:
        deb: "{{ lact_download_url }}"
        install_recommends: false
        update_cache: true
      become: true