---
- name: Install and configure ly display manager
  block:
    - name: Prepare build environment
      block:
        - name: Install ly's build dependencies
          apt:
            name:
              - build-essential
              - clang
              - libclang-dev
              - liblldb-dev
              - libpam0g-dev
              - libxcb-xkb-dev
              - lld
              - llvm
              - llvm-dev
            state: latest
            install_recommends: false
            update_cache: true
          become: true

        - name: Set up zig compiler
          block:
            - name: Get latest zig version
              uri:
                url: https://ziglang.org/download/index.json
                return_content: true
              register: zig_versions

            # ly requires zig v0.15.0+.
            - name: Set zig version fact
              set_fact:
                zig_version: "0.15.2"

            - name: Create a temporary directory for zig
              ansible.builtin.tempfile:
                state: directory
              register: zig_tmp

            - name: Download zig compiler archive
              get_url:
                url: "{{ zig_versions.json[zig_version]['x86_64-linux'].tarball }}"
                dest: "{{ zig_tmp.path }}/zig.tar.xz"

            - name: Create zig installation directory
              ansible.builtin.file:
                path: /opt/zig
                state: directory
                mode: "0755"
              become: true

            - name: Install zig compiler
              ansible.builtin.unarchive:
                src: "{{ zig_tmp.path }}/zig.tar.xz"
                dest: /opt/zig
                remote_src: true
                extra_opts:
                  - --strip-components
                  - 1
                  - --overwrite
              become: true

    - name: Install ly display manager
      block:
        - name: Create a temporary directory
          ansible.builtin.tempfile:
            state: directory
          register: ly_tmp

        - name: Get the latest version of ly
          ansible.builtin.uri:
            url: https://codeberg.org/api/v1/repos/fairyglade/ly/releases/latest
            return_content: true
          register: ly_version

        - name: Download and unarchive ly {{ ly_version.json.tag_name }}
          ansible.builtin.unarchive:
            src: "{{ ly_version.json.tarball_url }}"
            dest: "{{ ly_tmp.path }}"
            remote_src: true
            extra_opts:
              - --strip-components
              - 1

        - name: Compile and install ly
          command:
            cmd: /opt/zig/zig build installexe
            chdir: "{{ ly_tmp.path }}"
          become: true

    - name: Configure ly
      block:
        - name: Look in /usr/share and /usr/local/share for wayland-sessions
          lineinfile:
            line: "waylandsessions = /usr/share/wayland-sessions:/usr/local/share/wayland-sessions"
            path: /etc/ly/config.ini
            regexp: '^waylandsessions *='
          become: true

        - name: Look in /usr/share and /usr/local/share for xsessions
          lineinfile:
            line: "xsessions = /usr/share/xsessions:/usr/local/share/xsessions"
            path: /etc/ly/config.ini
            regexp: '^xsessions *='
          become: true

        - name: Enable password field clearing
          lineinfile:
            line: "clear_password = true"
            path: /etc/ly/config.ini
            regexp: '^#?\s*clear_password\s*='
          become: true

        - name: Enable borderless mode
          lineinfile:
            path: /etc/ly/config.ini
            regexp: '^#?\s*hide_borders\s*='
            line: "hide_borders = true"
          become: true

        - name: Enable Gnome keyring authentication
          lineinfile:
            path: /etc/pam.d/login
            line: "auth       optional     pam_gnome_keyring.so"
            insertafter: "^auth.*pam_unix.so"
          become: true

        - name: Enable Gnome keyring password integration
          lineinfile:
            path: /etc/pam.d/ly
            line: "password   optional     pam_gnome_keyring.so"
            insertafter: "^password.*pam_unix.so"
          become: true

        - name: Enable Gnome keyring session management
          lineinfile:
            path: /etc/pam.d/login
            line: "session    optional     pam_gnome_keyring.so auto_start"
            insertafter: "^session.*pam_unix.so"
          become: true

    - name: Configure system integration
      block:
        - name: Prevent TTY conflicts
          systemd_service:
            name: getty@tty2.service
            daemon_reload: true
            state: stopped
            enabled: false
          become: true

        - name: Enable ly display manager
          systemd_service:
            name: ly.service
            daemon_reload: true
            enabled: true
            masked: false
          become: true