[Unit]
AssertPathExists={{ nas_mount_directory }}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mountnas

[Install]
WantedBy=home-{{ ansible_env.USER }}.mount
