[Desktop Entry]
Name=bspwm
Comment=Binary space partitioning window manager
Exec=bspwm-session
TryExec=/usr/local/bin/bspwm-session
Type=Application
DesktopNames=bspwm
