---
- name: Configure rsnapshot hourly backup cron job
  cron:
    name: rsnapshot hourly
    cron_file: ansible-role-rsnapshot
    user: root
    minute: "1"
    job: /usr/bin/rsnapshot hourly
  when: rsnapshot_retention.hourly
  become: true
  notify: Validate rsnapshot cron config

- name: Configure rsnapshot daily backup cron job
  cron:
    name: rsnapshot daily
    cron_file: ansible-role-rsnapshot
    user: root
    minute: "10"
    hour: "1"
    job: /usr/bin/rsnapshot daily
  when: rsnapshot_retention.daily
  become: true
  notify: Validate rsnapshot cron config

- name: Configure rsnapshot weekly backup cron job
  cron:
    name: rsnapshot weekly
    cron_file: ansible-role-rsnapshot
    user: root
    minute: "30"
    hour: "3"
    weekday: "1" # Monday at 3:30 AM
    job: /usr/bin/rsnapshot weekly
  when: rsnapshot_retention.weekly
  become: true
  notify: Validate rsnapshot cron config

- name: Configure rsnapshot monthly backup cron job
  cron:
    name: rsnapshot monthly
    cron_file: ansible-role-rsnapshot
    user: root
    minute: "50"
    hour: "5"
    day: "1" # 1st of month at 5:50 AM
    job: /usr/bin/rsnapshot monthly
  when: rsnapshot_retention.monthly
  become: true
  notify: Validate rsnapshot cron config
