[Desktop Entry]
Type=Application
Name=World of Warcraft
GenericName=World of Warcraft
Comment=Launch World of Warcraft through Lutris without opening the Lutris window
Exec={{ games_lutris_launcher_path }} "{{ games_lutris_wow_prefix }}" {{ games_lutris_app_id }} {{ games_lutris_wow_slug }} "World of Warcraft"
Icon=lutris_{{ games_lutris_wow_slug }}
Terminal=false
Categories=Game;RolePlaying;
Keywords=wow;warcraft;blizzard;battle.net;
StartupNotify=false
StartupWMClass=wow.exe
