---
- name: Get the latest version of Delta
  uri:
    url: https://api.github.com/repos/dandavison/delta/releases/latest
    return_content: true
  register: delta_version

- name: Set delta download URL fact
  set_fact:
    delta_download_url: "{{ (delta_version.json.assets | selectattr('name', 'match', 'git-delta_.*_amd64.deb') | first).browser_download_url }}"

- name: Install Delta package
  apt:
    deb: "{{ delta_download_url }}"
    install_recommends: false
  become: true