---
- name: Install Kicad 9.0 apt repository
  apt_repository:
    repo: ppa:kicad/kicad-9.0-releases
    update_cache: true
  become: true

- name: Install system packages
  apt:
    name:
      # Video playback dependencies of OrcaSlicer
      - gstreamer1.0-libav
      - gstreamer1.0-plugins-bad

      - kicad
    state: latest
    install_recommends: false
    update_cache: true
  become: true

- name: Install kikit from PyPI
  pip:
    name:
      - kikit
    extra_args: "--break-system-packages"
  become: true

- name: Install OrcaSlicer
  block:
    - name: Get the latest version of OrcaSlicer
      uri:
        url: https://api.github.com/repos/SoftFever/OrcaSlicer/releases/latest
        return_content: true
        headers:
          Accept: "application/vnd.github.v3+json"
        validate_certs: true
      register: orcaslicer_version

    - name: Find Linux AppImage asset
      set_fact:
        orcaslicer_download_url: "{{ (orcaslicer_version.json.assets | selectattr('name', 'match', 'OrcaSlicer.*Linux.*AppImage$') | list | first).browser_download_url }}"

    - name: Download OrcaSlicer
      get_url:
        url: "{{ orcaslicer_download_url }}"
        dest: "/usr/local/bin/OrcaSlicer"
        force: true
        mode: "0755"
      become: true

- name: Install Betaflight Configurator
  block:
    - name: Get the latest version of Betaflight Configurator
      uri:
        url: https://api.github.com/repos/betaflight/betaflight-configurator/releases/latest
        return_content: true
        headers:
          Accept: "application/vnd.github.v3+json"
        validate_certs: true
      register: betaflight_version

    - name: Find Linux deb asset
      set_fact:
        betaflight_download_url: "{{ (betaflight_version.json.assets | selectattr('name', 'match', '.*_amd64\\.deb$') | list | first).browser_download_url }}"

    - name: Install Betaflight Configurator
      apt:
        deb: "{{ betaflight_download_url }}"
        state: present
      become: true

- name: Install ExpressLRS Configurator
  block:
    - name: Get the latest version of ExpressLRS Configurator
      uri:
        url: https://api.github.com/repos/ExpressLRS/ExpressLRS-Configurator/releases/latest
        return_content: true
        headers:
          Accept: "application/vnd.github.v3+json"
        validate_certs: true
      register: expresslrs_version

    - name: Find Linux deb asset
      set_fact:
        expresslrs_download_url: "{{ (expresslrs_version.json.assets | selectattr('name', 'match', '.*_amd64\\.deb$') | list | first).browser_download_url }}"

    - name: Install ExpressLRS Configurator
      apt:
        deb: "{{ expresslrs_download_url }}"
        state: present
      become: true
