---
- import_tasks: apt.yml

- import_tasks: antigravity.yml
  tags: antigravity

- import_tasks: claude.yml
  tags: claude

- import_tasks: cursor.yml
  tags: cursor

- import_tasks: codex.yml
  tags: codex

- import_tasks: delta.yml
  tags: delta

- import_tasks: gemini.yml
  tags: gemini

- import_tasks: go.yml
  tags: go

- import_tasks: javascript.yml
  tags: javascript

- import_tasks: python.yml
  tags: python

- import_tasks: ruby.yml
  tags: ruby

- import_tasks: rust.yml
  tags: rust

- import_tasks: virtualbox.yml
  tags: virtualbox

- import_tasks: vscode.yml
  tags: vscode
