---
- name: Create custom_components/ directory
  file:
    path: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
    state: directory
    owner: root
    group: root
  become: true

- name: Install BambuLab custom component
  block:
    - name: Create a temporary directory for BambuLab
      ansible.builtin.tempfile:
        state: directory
      register: bambulab_tmp

    - name: Get the latest version of BambuLab
      ansible.builtin.uri:
        url: https://api.github.com/repos/greghesp/ha-bambulab/releases/latest
        return_content: true
      register: bambulab_version

    - name: Download and unarchive BambuLab {{ bambulab_version.json.tag_name }}
      ansible.builtin.unarchive:
        src: "https://github.com/greghesp/ha-bambulab/archive/refs/tags/{{ bambulab_version.json.tag_name }}.tar.gz"
        dest: "{{ bambulab_tmp.path }}"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1

    - name: Install BambuLab custom component
      copy:
        src: "{{ bambulab_tmp.path }}/custom_components/bambu_lab"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Install Dreo custom component
  block:
    - name: Create a temporary directory for dreo
      ansible.builtin.tempfile:
        state: directory
      register: dreo_tmp

    - name: Download Dreo custom component
      get_url:
        url: "{{ lookup('url', 'https://api.github.com/repos/JeffSteinbok/hass-dreo/releases/latest', split_lines=False) | from_json | json_query('tarball_url') }}"
        dest: "{{ dreo_tmp.path }}/dreo.tar.gz"
        mode: "0644"

    - name: Extract Dreo custom component
      unarchive:
        src: "{{ dreo_tmp.path }}/dreo.tar.gz"
        dest: "{{ dreo_tmp.path }}/"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1
        creates: "{{ dreo_tmp.path }}/custom_components"

    - name: Install Dreo custom component
      copy:
        src: "{{ dreo_tmp.path }}/custom_components/dreo"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Install Frigate custom component
  block:
    - name: Create a temporary directory for Frigate
      ansible.builtin.tempfile:
        state: directory
      register: frigate_tmp

    - name: Get the latest version of Frigate
      ansible.builtin.uri:
        url: https://api.github.com/repos/blakeblackshear/frigate-hass-integration/releases/latest
        return_content: true
      register: frigate_version

    - name: Download and unarchive Frigate {{ frigate_version.json.tag_name }}
      ansible.builtin.unarchive:
        src: "https://github.com/blakeblackshear/frigate-hass-integration/archive/refs/tags/{{ frigate_version.json.tag_name }}.tar.gz"
        dest: "{{ frigate_tmp.path }}"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1

    - name: Install Frigate custom component
      copy:
        src: "{{ frigate_tmp.path }}/custom_components/frigate"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Install Meross custom component
  block:
    - name: Create a temporary directory for Meross
      ansible.builtin.tempfile:
        state: directory
      register: meross_tmp

    - name: Get the latest version of Meross
      ansible.builtin.uri:
        url: https://api.github.com/repos/albertogeniola/meross-homeassistant/releases/latest
        return_content: true
      register: meross_version

    - name: Download and unarchive Meross {{ meross_version.json.tag_name }}
      ansible.builtin.unarchive:
        src: "https://github.com/albertogeniola/meross-homeassistant/archive/refs/tags/{{ meross_version.json.tag_name }}.tar.gz"
        dest: "{{ meross_tmp.path }}"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1

    - name: Install Meross custom component
      copy:
        src: "{{ meross_tmp.path }}/custom_components/meross_cloud"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Install Simple Icons custom component
  block:
    - name: Create a temporary directory for Simple Icons
      ansible.builtin.tempfile:
        state: directory
      register: simpleicons_tmp

    - name: Get the latest version of Simple Icons
      ansible.builtin.uri:
        url: https://api.github.com/repos/vigonotion/hass-simpleicons/releases/latest
        return_content: true
      register: simpleicons_version

    - name: Download and unarchive Simple Icons {{ simpleicons_version.json.tag_name }}
      ansible.builtin.unarchive:
        src: "https://github.com/vigonotion/hass-simpleicons/archive/refs/tags/{{ simpleicons_version.json.tag_name }}.tar.gz"
        dest: "{{ simpleicons_tmp.path }}"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1

    - name: Install Simple Icons custom component
      copy:
        src: "{{ simpleicons_tmp.path }}/custom_components/simpleicons"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Install Custom Icons custom component
  block:
    - name: Create a temporary directory for Custom Icons
      ansible.builtin.tempfile:
        state: directory
      register: custom_icons_tmp

    - name: Get the latest version of Custom Icons
      ansible.builtin.uri:
        url: https://api.github.com/repos/thomasloven/hass-custom_icons/releases/latest
        return_content: true
      register: custom_icons_version

    - name: Download and unarchive Custom Icons {{ custom_icons_version.json.tag_name }}
      ansible.builtin.unarchive:
        src: "https://github.com/thomasloven/hass-custom_icons/archive/refs/tags/{{ custom_icons_version.json.tag_name }}.tar.gz"
        dest: "{{ custom_icons_tmp.path }}"
        remote_src: true
        extra_opts:
          - --strip-components
          - 1

    - name: Install Custom Icons custom component
      copy:
        src: "{{ custom_icons_tmp.path }}/custom_components/custom_icons"
        dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/custom_components/"
        remote_src: true
      become: true

- name: Copy python_scripts/ directory
  copy:
    src: files/homeassistant/python_scripts/
    dest: "{{ homeassistantfrigate_homeassistant_required_volumes.config }}/python_scripts/"
  become: true
